*{
  margin: 0px;
  padding:0px;
}
.main h1{
  color: white;
  background-color: orange;
  margin: 0px;
  padding: 0px;
  /** Clock Wise Retation: Top, Right, Bottom,Left**/
  /**
  border-width: 20px;
  border-style: groove;
  border-color: aquamarine;
  border: 20px groove hotpink;
  outline-width: 10px;
  outline-style: ridge;
  outline-color: #D4AF37;
  outline-offset: 2px;
  **/
}
#tea{
  color: lawngreen;
  background-color: brown;
}
.pHeck{
  /**
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  background-color: plum;
  margin: 10px 20px 10px 20px;
  margin: auto;
  width: 500px;
  min-height: 200px;
  max-height: 500px;
  **/
  background-color: plum;
  color: #ffffff;
  width: 500px;
  border: 20px ridge #9400d3;
  border-radius: 20px 10px;
}
.firstDiv{
  /**
  min-width: 200px;
  min-height: 200px;
  margin: 0px;
  padding: 0px 15px 10px 100px;
  border-width: 0px;
  border-radius: 0px;
  outline-width: 0px;
  background-color: #bbbbbb;
  color: #000000;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border: 10px ridge #000000;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  **/
  border: 2px ridge #000000;
  width: 50%;
  background-color: cadetblue;
  color: azure;
  float: left;
  margin: 0px;
  padding: 0px;
}
#secondDiv{
  /**
  height: 200px;
  width: 200px;
  background-color: aqua;
  border: 2px ridge blue;
  margin-top: 20px;
  border-radius: 50%;
  box-shadow: 10px 20px 2px 1px black;
  overflow: auto;
  **/
  border: 2px ridge #000000;
  width: 40%;
  background-color: brown;
  color: bisque;
  float: left;
  margin: 0px;
  padding:0;
}
#thirdDiv{
  border: 2px ridge #000000;
  clear: both;
}