*{
  height: auto;
  width: 100%;
  font-size: 100%;
  font-family: ubuntu ubuntu light;
}
body{
  background-color: #000;
  color: #fff;
  font-family: arial;
  font-size: 100%;
}
.jumbotron{
  text-align: center;
}

